@using (Html.BeginForm()) { 


<div class="LoginContainter">
    <div class="Login">
        <h2 class="pageHeading">Reset Password</h2>
        <hr />
        <div class="form-group">
            <label for="username">New Password:</label>
            <br />
            <input type="password" name="username" placeholder="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Confirm Password:</label>
            <br />
            <input type="password" name="password" placeholder="Confirm Password" class="form-control" />
        </div>
        <br />
        <button class="btn btn-primary loginbtn">Submit</button>
    </div>
</div>
}