
    <div class="LoginContainter">
        <div class="Login">
            <h2 class="pageHeading">Email sent</h2>
            <hr />
            <p>An email has been sent to you email address. To reset your password please follow the link in the email.</p>
            <p>
                @Html.ActionLink("Return to Login", "Login", "Home")
            </p>
        </div>
    </div>