@using (Html.BeginForm())
{

<div class="LoginContainter">
    <div class="Login">
        <h2 class="pageHeading">Reset Password</h2>
        <hr />
        <div class="form-group">
            <label for="username">Username:</label>
            <br />
            <input type="text" name="username" placeholder="Email" class="form-control" />
        </div>
        <br />
        <button onclick="document.getElementById('RequestPasswordModal').style.display='block'" class="btn btn-primary loginbtn">Submit</button>
        <br />
    </div>
</div>

<div id="RequestPasswordModal" class="modal animate-opacity">
    <div class="modal-content modal-background">
        <header class="">
            <h2>Request New Password</h2>
        </header>
        <hr style="margin:0;" />
        <div style="text-align:center; font-size:500%"><span class="glyphicon glyphicon-info-sign" style="margin-top:3%;"></span></div>
        <div class="">
            <p>Are you sure you want to request a new password?</p>
        </div>
        <hr style="margin:0;" />
        <footer class="" style="">
            <a href="" onclick="document.getElementById('RequestPasswordModal').style.display='none'" class="btn btn-outline-danger" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-remove-circle"></span><br />No</a>
            <a href="" onclick="" class="btn btn-outline-success" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-ok-circle"></span><br />Yes</a>
        </footer>
    </div>
</div>
}