

<div class="LoginContainter">
    <div class="Login">
        <h2 class="pageHeading">Lodge a Complaint</h2>
        <hr />
        <div class="">
            <label for="">Complaint:</label>
            <br />
            <textarea class="form-control" style="max-width:70%;"></textarea>
        </div>
        <br />
        <button onclick="document.getElementById('lodgeModal').style.display='block'" class="btn btn-primary loginbtn">Submit</button>

    </div>
</div>


<div id="lodgeModal" class="modal animate-opacity">
    <div class="modal-content modal-background">
        <header class="">
            <h2>Complaint Lodged</h2>
        </header>
        <hr style="margin:0;"/>
        <div class="" style="margin-top:2%;">
            <p>Your complaint has been lodged</p>
            <p>Thank you for spending your time to make us better!</p>
        </div>
        <hr style="margin:0;"/>
        <footer class="">
            <a href="" onclick="" class="btn btn-outline-primary" style="width:75%; margin-bottom:2%; margin-top:2%;"><span class="glyphicon glyphicon-home"></span><br />Back Home</a>
        </footer>
    </div>
</div>
