
<div class="LoginContainter">
    <div class="Login">
        <h2 class="pageHeading">Login</h2>
        <hr />
        <div class="form-group">
            <label for="username">Username:</label>
            <br />
            <input type="text" name="username" placeholder="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <br />
            <input type="password" name="password" placeholder="Password" class="form-control" />
        </div>
        <br />
        <button class="btn btn-primary loginbtn">Login</button>
        <button class="btn btn-secondary loginbtn">Register</button>
        <br />
        Forgot password? Click @Html.ActionLink("here", "ForgotPasswordEmail", "Home").

    </div>
</div>