
@{
    ViewBag.Title = "Services";
}
<div id="Aboutustitle">
    <p style="width:100%;"><span style="font-size:35px;"><b>Services</b></span></p>
</div>

@*<div style="text-align:center;">
    <div class="serviceinfo">
        <img />
        <br />
        <h4>Fire extinguishers</h4>
        <p>Placeholder: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="serviceinfo">
        <img />
        <br />
        <h4>Hose Reels</h4>
        <p>Placeholder: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="serviceinfo">
        <img />
        <br />
        <h4>Signage</h4>
        <p>Placeholder: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
<br />
<div style="margin-top:15px; width:100%;">
    <button class="btn btn-primary" style="width:100%;">Book a Service</button>
</div>
<br />*@

<div class="CenteringContainer">
    <a href="@Url.Action("ExportData","Export")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-export"></span> <br />Make a Service Request</a>
    <a href="@Url.Action("Index","EmployeeType")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-user"></span> <br />asdaqw</a>

   </div>