
@{
    ViewBag.Title = "Services";
}


@model Snow_System.Models.GlobalVariable

@{
    if (Model == null)
    {
        Layout = "~/Views/Shared/_clientLayout.cshtml";
    }
    else if (Model.UserRoleId == 1)
    {
        Layout = "~/Views/Shared/_clientLayout.cshtml";
    }
    else if (Model.UserRoleId == 2 || Model.UserRoleId == 3 || Model.UserRoleId == 4 || Model.UserRoleId == 5)
    {
        Layout = "~/Views/Shared/_client_EmployeeLayout.cshtml";
    }
}
@*<div id="Aboutustitle">
        <p style="width:100%;"><span style="font-size:35px;"><b>Services</b></span></p>
    </div>*@

@*<div style="text-align:center;">
        <div class="serviceinfo">
            <img />
            <br />
            <h4>Fire extinguishers</h4>
            <p>Placeholder: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="serviceinfo">
            <img />
            <br />
            <h4>Hose Reels</h4>
            <p>Placeholder: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="serviceinfo">
            <img />
            <br />
            <h4>Signage</h4>
            <p>Placeholder: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <br />
    <div style="margin-top:15px; width:100%;">
        <button class="btn btn-primary" style="width:100%;">Book a Service</button>
    </div>
    <br />*@

@*<div>
        <label>Save time! Place a Service Request and we'll get back to you as soon as possible.</label>
    </div>
    <div class="CenteringContainer">
        <a href="@Url.Action("ExportData","Export")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-export"></span> <br />Make a Service Request</a>
        <a href="@Url.Action("Index","EmployeeType")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-user"></span> <br />asdaqw</a>

    </div>*@

<br />
<br />
<div class="card border-info mb-3">
    <div class="card-body">
        <h2 class="card-header">Service Request </h2>
        <br />
        <h5 class="card-text">Don't have time to make a call? Save time! Place a Service Request and we'll get back to you as soon as possible.</h5>
        <br />
        <h6 style="float:right;" class="card-subtitle mb-2 text-muted">CLICK BELOW TO PLACE A REQUEST</h6>
        <br />
        @if ((int)Session["UserRoleID"] == 1)
        {
            <a href="@Url.Action("Index","Location" , new { searchBy = "one", search = "" })" class="btn btn-info " style="float:right;"><span class="glyphicon glyphicon-wrench"></span> <br />Make a Service Request</a>
        }
        else
        {
            <a href="@Url.Action("Index","ServiceRequest")" class="btn btn-info " style="float:right;"><span class="glyphicon glyphicon-wrench"></span> <br />Make a Service Request</a>
        }

        @*<a href="#" class="card-link">Another link</a>*@
    </div>
</div>


