<br />
<br />
<div style="text-align:center; font-size:500%"><span class="glyphicon glyphicon-remove-circle"></span></div>
<h3 class="pageHeading">Error assigning employees!</h3>
<br />
<div style="margin:auto; text-align:center;">
    <div class=" btn btn-success" style="margin:auto; text-align:center; width:10%;"><span class="glyphicon glyphicon-ok-circle"></span> <br />OK</div>
</div>