@{ 
    ViewBag.Title = "Dashboard";
}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h1 style="text-align:center">Dashboard</h1>
<hr />
<div class="dash-container">
    <!--Operations-->
    @{Html.RenderPartial("_TasksForTheDay");}<!--Add deliveries info-->
    @{Html.RenderPartial("_ProductOrderCard", (List<Snow_System.ProductOrder>)ViewBag.ProductOrders);}
    @{Html.RenderPartial("_SupplierOrdersCard", (List<Snow_System.SupplierOrder>)ViewBag.SupplierOrders);}
    @{Html.RenderPartial("_ServicesCard", (List<Snow_System.ServiceRequest>)ViewBag.OutstandingServices);}
    @{Html.RenderPartial("_DeliveriesCard", (List<Snow_System.Delivery>)ViewBag.UnassignedDeliveries);}
    <!--Statistics-->
    @{Html.RenderPartial("_LocationGraphs", (List<Snow_System.Location>)ViewBag.Locations);}
    @{Html.RenderPartial("_OrderGraphCard", (List<Snow_System.ProductOrder>)ViewBag.AllProductOrders);}
    @{Html.RenderPartial("_RatingsStatCard", (List<Snow_System.ClientFeedback>)ViewBag.Ratings);}
</div>